[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "1.4"
sqlmodel = "*"
asyncpg = "*"

[dev-packages]
pytest-asyncio = "*"
black = "*"

[requires]
python_version = "3.6"
